
section{
    /* text-align: center; */
    margin-top: 130px;
    /* height: 800px; */
}
h1{
  text-align: center;
    text-shadow: 1px 1px 1px #000, 3px 3px 5px rgb(138, 237, 84);
}
.accordion{
   margin-top: 30px;
    width: 98%;

}
.accordion li{
    list-style: none;
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 8px;
    background: #e3edf7;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
                6px 6px 10px -1px rgba(225, 255, 255, 0.7);

}
.accordion li label{
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;

}
.accordion label::before{
    content: '+';
    margin-right: 10px;
    font-size:24px ;
    font-weight: 600;
}
input[type="radio"]{
    display: none;
}
.accordion .content{
    color: #555;
    padding: 0 10px;
    line-height: 26px;
    max-height: 0;
    overflow: hidden;
}
.accordion input[type="radio"]:checked + label + .content{
    max-height: 400px;
    padding:10px 10px 20px ; 
}
.accordion input[type="radio"]:checked + label::before{
   content: '-';
}
  
  
  @media screen and (max-width: 767px) {
    h1{
        font-size: 20px;
    }
  
  form .fields .input-field{
    width: 100%;
 
  }
  section{
    margin-top: 20%;

   
  }
  .accordion{
    margin-top: 30px;
     width: 100%;
     margin-left: -17px;
 
 }
  .container header::before{
    height: 1px;
  width: 0px;
  
  }
  .container form{
    position: inherit;
  }

  .big{
    height: 70px;
  }
  
  }
  