
section{
    text-align: center;
    margin-top: 130px;
}
h1{
    text-shadow: 1px 1px 1px #000, 3px 3px 5px rgb(138, 237, 84);
}
.accordion{
   margin-top: 30px;
  
    width: 98%;

}
.accordion li{
    list-style: none;
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 8px;
    background: #e3edf7;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
                6px 6px 10px -1px rgba(225, 255, 255, 0.7);

}
.accordion li label{
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;

}
.accordion label::before{
    content: '+';
    margin-right: 10px;
    font-size:24px ;
    font-weight: 600;
}
input[type="radio"]{
    display: none;
}
.accordion .content{
    color: #555;
    padding: 0 10px;
    line-height: 26px;
    max-height: 0;
    overflow: hidden;
}
.accordion input[type="radio"]:checked + label + .content{
    max-height: 400px;
    padding:10px 10px 20px ; 
}
.accordion input[type="radio"]:checked + label::before{
   content: '-';
}




.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 15px;
  }
  
  .navbar .logo a {
    font-size: 2.5rem;
    text-decoration: none;
    color: yellow;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 10%;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 2px;
    font-weight: bold;
    background-color:  rgba(0,0,0,0.75);
    
  }
  
  .navbar .links {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 35px;
  }
  
  .navbar .links a {
    font-weight: 500;
    text-decoration: none;
    color: rgba(0,0,0,0.75) ;
    padding: 10px 0;
    transition: 0.2s ease;
    width: 150px;
    font-weight: bold;
    font-size: 14px;
    background-color: white;
  }
  
  .navbar .links a:hover {
    color: #47b2e4;
  }
  
  
  .hero-section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 95vh;
    padding: 0 15px;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .hero-section .hero {
    max-width: 50%;
    color: #fff;
  }
  
  .hero h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
  
  .hero p {
    font-size: 1.2rem;
    margin-bottom: 20px;
    color: #c9c7c7;
  }
  
  .hero-section .img img {
    width: 517px;
  }
  
  
  .buttons .join {
    background-color: #47b2e4;
  } 
  
  
  #menu-toggle {
    display: none;
  }
  
  #hamburger-btn {
    font-size: 1.8rem;
    color: #fff;
    cursor: pointer;
    display: none;
    order: 1;
  }
  
  @media screen and (max-width: 1023px) {
    .navbar .logo a {
      font-size: 1.5rem;
    }
    .navbar .logo{
      width: 50px;
    }
  
    .links {
      position: fixed;
      left: -100%;
      top: 75px;
      width: 100%;
      height: 100vh;
      padding-top: 50px;
      background: #175d69;
      flex-direction: column;
      transition: 0.3s ease;
    }
  
    .navbar #menu-toggle:checked ~ .links {
      left: 0;
   
    }
  
    .navbar #hamburger-btn {
      display: block;
    }

  
    .hero-section .hero {
      max-width: 100%;
      text-align: center;
    }
  
    .hero-section img {
      display: none;
    }
  }
  
  
  #box3 {
    overflow: hidden;
  }
  
  #container {
    width: 100%;
    position: absolute;
    top: -100%;
    animation: anim4 1s forwards 1.5s;
  }
  
  #logo {
    float: left;
    margin-left: 100px;
    margin-top: 20px;
  }
  
  #logo img {
    width: 50px;
  }
  
  @keyframes anim4 {
    from {
      top: -100%;
    }
    to {
      top: 0%;
    }
  }
  
  .topnav {
    overflow: hidden;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: #1a1818;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 13px;
    border-radius: 20px;
    margin-top: 10px;
  }
  
  .topnav a:hover {
    background-color: grey;
    color: black;
  }
  
  .topnav a.active {
    background-color: #04aa6d;
    color: white;
  }
  
  .topnav .icon {
    display: none;
  }
  
  @media screen and (max-width: 767px) {
    #box2 {
      font-size: 3em; 
      top: 20%;
    }
    h1{
        font-size: 20px;
    }
  
    .navbar .logo a{
      left: 20%;
    }
  
    #menu.topnav {
      flex-direction: column;
      align-items: center;
    }
  
    #menu.topnav a {
      margin-bottom: 8px;
      margin-left: 0; 
    }
    small{
     font-size: 13px;
    display: block;
    margin-left: 5px;
  }
  
  form .fields .input-field{
    width: 100%;
 
  }
  section{
    margin-top: 20%;
   
  }
  .container header::before{
    height: 1px;
  width: 0px;
  
  }
  .container form{
    position: inherit;
  }
  
  }
  