


<div class="navbar">
  <div class="logo" routerLink="/home">INFLUNEXUS</div>
  <button class="navbar-toggler" (click)="toggleNavbar()">
    <span></span>
    <span></span>
    <span></span>
  </button>
  <div class="navbar-links" [class.collapsed]="isNavbarCollapsed">
    <a routerLink="/home"><button>Home</button></a>
    <a routerLink="/gallery"><button>Client-Showcase</button></a>
    <a routerLink="/video-request"><button>Video-Request</button></a>
    <a routerLink="/feedback"><button>Feedback</button></a>

    <a routerLink="/login"><button class="signin" *ngIf="!user">Sign In</button></a>

    <a><button *ngIf="user" (click)="logOut()" >Sign Out </button></a>

    <a *ngIf="user"><img class="rounded-circle"  [src]="urllink" alt="{{user.photoUrl}}" style="height: 50px; width: 50px;" id="photo">
      <div class="hide">{{user.name}}</div></a>
  </div>
</div>



<div class="banner">
  
        <!-- <source src="https://cdn.pixabay.com/vimeo/246463976/atoms-13232.mp4?width=640&hash=4c8703a3f34b289318ae2077bcae4008b1d886da" type="video/mp4" > -->
  
        <video #myVideo loop muted playsinline preload="metadata">
          <source src="assets/atoms-smash-1.mp4" type="video/mp4">
      </video>
  
    <div class="content">

      <h1></h1>

        <div ><p class="head">Crafting Your Vision</p> </div>
        <div>
            <button routerLink="/gallery" class="explore">Explore</button>
        </div>
    </div>
  </div>