
*{
  box-sizing: border-box;
}
  .banner{
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: center;
  }
  .headbar{
    background-color: rgba(0,0,0,0.75);
  }
  .content{
    width: 100%;
    color: white;
    margin-top: 200px;
    text-align: center;

  }
  .content .head{
  /* position: absolute; */
  font-family: 'Allura', cursive;
    margin-top: 80px;
    font-size: 80px;
    color: transparent;
    -webkit-text-stroke: 1px #fff;
    background: url("https://www.shutterstock.com/image-vector/abstract-vector-arrows-background-white-260nw-2308036939.jpg");
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back 20s linear infinite;
    font-weight: 700;
  }
  @keyframes back{
    100%{
      background-position: 2000px 0;
    }
  }


  .explore{
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
    width: 200px;
    padding: 5px;
    margin: 20px 5px;
    text-align: center;
    border-radius: 20px;
    color: black;
    border: 2px;
    font-size: 25px;
    cursor: pointer;
    font-weight: 600;
    background:whitesmoke;
    padding-left: 20PX;
    padding-right: 20PX;
  }
  .explore:hover{
    background: rgb(0, 192, 226);
    transition: 0.5s;
  }
  .explore:hover{
    color: white;
  }
  .banner video{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
  }
  @media(min-aspect-ratio: 16/9){
    .banner video{
        width: 100%;
        height: auto;
    }
  }
  
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 7px;
  }
  
  .navbar .logo a {
    font-size: 2.1rem;
    text-decoration: none;
    color: yellow;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 5%;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 2px;
    font-weight: bold;
    margin-top: -3px;
    transform: translate(-50%,-50%);
    
  }
  
  .navbar .links {
    display: flex;
    align-items:center;
    list-style: none;
    gap: 15px;
  }
  
  .navbar .links button {
    justify-content: center;
    font-weight: 700;
    text-decoration: none;
    color:  white;
    padding: 5px 0;
    transition: 0.2s ease;
    width: 140px;
    font-weight: bold;
    font-size: 15px;
   border-radius: 10px;
   background-color: rgba(0,0,0,0.75);
  }
  
  .navbar .links button:hover {
    color: #47b2e4;
  }
  .buttons .join {
    background-color: #47b2e4;
  } 
  
  
  #menu-toggle {
    display: none;
  }
  
  #hamburger-btn {
    font-size: 1.8rem;
    color: #fff;
    cursor: pointer;
    display: none;
    order: 1;
    margin-top: -6px;
  }
  
  @media screen and (max-width: 1023px) {
    .navbar .logo a {
      font-size: 1.5rem;
    }
    .navbar .logo{
      width: 50px;
    }
  
    .links {
      position: fixed;
      left: -100%;
      top: 75px;
      width: 100%;
      height: 100vh;
      padding-top: 50px;
      background: #175d69;
      flex-direction: column;
      transition: 0.9s ease;
    }
  
    .navbar #menu-toggle:checked ~ .links {
      left: 0;
    }
  
    .navbar #hamburger-btn {
      display: block;
    }
  
  }
  
  #text {
    position: relative;
    left: -100%;
    animation: anim3 1s forwards 2s;
  }
  
  @keyframes anim3 {
    from {
      left: -100%;
    }
    to {
      left: 0%;
    }
  }
  
  #box3 {
    overflow: hidden;
  }
  
  #container {
    width: 100%;
    position: absolute;
    top: -100%;
    animation: anim4 1s forwards 1.5s;
  }
  
  #logo {
    float: left;
    margin-left: 100px;
    margin-top: 20px;
  }
  
  #logo img {
    width: 50px;
  }
  
  @keyframes anim4 {
    from {
      top: -100%;
    }
    to {
      top: 0%;
    }
  }
  
  .topnav {
    overflow: hidden;
    /* background-color: darkgrey; */
  }
  
  .topnav a {
    float: left;
    display: block;
    color: #1a1818;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 13px;
    border-radius: 20px;
    margin-top: 10px;
    /* width: %; */
  }
  
  .topnav a:hover {
    /* background-color: grey; */
    color: black;
  }
  
  .topnav button.active {
    background-color: #04aa6d;
    color: white;
  }
  
  .topnav .icon {
    display: none;
  }
  
  @media screen and (max-width: 767px) {
    #box2 {
      font-size: 3em; 
      top: 20%;
    }
    /* .imgtab {
      margin-top: 10px;
      height: 50px;
      width: 50px;
      display: block;
    } */
    .navbar .logo a{
      left: 25%;
    }
    #menu.topnav {
      flex-direction: column;
      align-items: center;
    }
  
    #menu.topnav button {
    
      margin-bottom: 8px;
      margin-left: 0; /* Adjust margin for smaller screens */
    }
    .content{
      margin-top: 300px;
    }
    .content .head{
      text-align: center;
      font-size: 40px;
   
    }
  
    button{
      width: 100px;
      padding: 8px;
    margin-left: 48px;
      text-align: center;
      border-radius: 25px;
      color: black;
      border: 2px;
      font-size: 15px;
      cursor: pointer;
      font-weight: 600;
      margin-top: 30px;
     
    }
  
  }
  .hide {
    display: none;
  }
      
  .rounded-circle:hover + .hide {
    display:inline;
    position: absolute;
    color: yellow;
    font-size: 13px;
    transition: 0.3s ease;
    font-family: 'Allura', cursive;
  }

  @media screen and (max-width: 767px){
    video {
      width: 100%; /* Make the video fill the container width */
      height: 100%; /* Make the video fill the container height */
      object-fit: cover; /* Center and maintain aspect ratio */
    }

    .navbar{
      padding: 20px 10px;
    }

  }