<!-- Start Footer -->
<footer class="dark" id="tempaltemo_footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4 pt-5">
                <img
                routerLink="/home"
                src="assets/main-logo.jpg"
                alt=""
                width="300px"
                style="border-radius: 30px"
              />
                <ul class="list-unstyled text-dark footer-link-list">
                    <li>
                        <i class="fas fa-map-marker-alt fa-fw"></i>
                        India
                    </li>
                    <li>
                        <i class="fa fa-phone fa-fw"></i>
                        <a class="text-decoration-none" >+91 9956867605</a>
                    </li>
                    <li>
                        <i class="fa fa-envelope fa-fw"></i>
                        <a class="text-decoration-none">info@influnexus.com</a>
                    </li>
                </ul>
            </div>
  
            <div class="col-md-3 pt-5">
                <h2 class="h2 text-light border-bottom pb-3 border-dark">Products</h2>
                <ul class="linkdata list-unstyled text-dark footer-link-list">
                    <li>
                        
                        <a class="text-decoration-none" >Video Editing</a>
                    </li>
                    <li><a class="text-decoration-none" >Motion Graphics</a></li>
                    <li><a class="text-decoration-none" >Content Optimization</a></li>
                    <li><a class="text-decoration-none" >Reels Editing</a></li>
                    <li><a class="text-decoration-none" >Graphic Design</a></li>
                    <li><a class="text-decoration-none" >Carousel Design</a></li>
                  
                </ul>
            </div>
  
            <div class="col-md-4 pt-5" id="data">
                <h2 class="h2 text-light border-bottom pb-3 border-dark">Further Info</h2>
                <ul class="list-unstyled text-dark footer-link-list" >
                    <li><button  class="text-decoration-none" routerLink="/home" id="butt">Home</button></li>
                    <li><button class="text-decoration-none" routerLink="/about"  id="butt">About Us</button></li>
                    <li><button class="text-decoration-none" routerLink="/faq"  id="butt">FAQs</button></li>
                    <li><button class="text-decoration-none" routerLink="/contact"  id="butt">Contact</button></li>
                </ul>
            </div>
  
        </div>
  
        <div class="row text-light mb-1">
            <div class="col-12 mb-3">
                <div class="w-100 my-3 border-top border-light"></div>
            </div>
         

   <section>
      <div class="wrapper">
         <div class="icon facebook">
            <div class="tooltip">
               Facebook
            </div>
            <span><a class="text-light text-decoration-none" href=""><i class="fab fa-facebook-f"></i></a></span>
         </div>
         <div class="icon twitter">
            <div class="tooltip">
                Linkedin
            </div>
            <span><a class="text-light text-decoration-none" href="https://www.linkedin.com/company/influence7x/"> <i class="fab fa-linkedin"></i></a></span>
         </div>
         <div class="icon instagram">
            <div class="tooltip">
               Instagram
            </div>
            <span><a class="text-light text-decoration-none" href="https://instagram.com/influnexus?igshid=YWYwM2I1ZDdmOQ=="><i class="fab fa-instagram"></i></a></span>
         </div>
         <div class="icon youtube">
            <div class="tooltip">
               YouTube
            </div>
            <span><a class="text-light text-decoration-none" href=""><i class="fab fa-youtube"></i></a></span>
         </div>
      </div>
   </section>

        </div>
    </div>
  
    <div class="w-100 bg-black py-3">
        <div class="container">
            <div class="row pt-2">
                <div class="col-12">
                    <p class="text-left text-light">
                        Copyright &copy; 2023 <strong>INFLUNEXUS</strong>
                        | Designed by <a rel="sponsored" routerLink="/home" target="_blank" style="color: yellow; font-weight: bold;">INFLUNEXUS</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
  
  </footer>
  <!-- End Footer -->