<div>
  <a class="open-chat-btn" (click)="toggleChatWindow()"><img src="assets/chat-bot.gif" width="50px" alt=""></a>

  <div class="chat-window" [ngClass]="{ 'open': isChatOpen }">
    <div class="chat-header">
      <span class="close-btn" (click)="closeChatWindow()">×</span>
      <p>ROBORAAH</p>
    </div>

    <div class="chat-body">
      <p><img src="assets/chatuser.gif" width="40px" alt=""> {{ userMessage }}</p>
      <p><img src="assets/chatlogo.gif" width="40px" alt=""><br> {{ botResponse }}</p>
    </div>

    <div class="chat-input">
      <input type="text" id="userMessage" [(ngModel)]="userMessage" (keyup.enter)="sendMessage()"  placeholder="Enter a message..."/>
      <button (click)="sendMessage()">Send</button>
    </div>
  </div>
</div>
