<app-header></app-header>
<!-- Start Banner Hero -->
<div
  id="template-mo-jassa-hero-carousel"
  class="carousel slide"
  data-bs-ride="carousel"
>
  <ol style="list-style-type: none" class="carousel-indicators">
    <li
      data-bs-target="#template-mo-jassa-hero-carousel"
      data-bs-slide-to="0"
      class="active"
    ></li>
    <li
      data-bs-target="#template-mo-jassa-hero-carousel"
      data-bs-slide-to="1"
    ></li>
    <li
      data-bs-target="#template-mo-jassa-hero-carousel"
      data-bs-slide-to="2"
    ></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="container">
        <div class="row p-5">
          <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
            <img class="img-fluid" src="https://resource.flexclip.com/pages/create/customize/instagram-reels-video/instagram-reels-video-image.png" alt="" />
          </div>
          <div class="col-lg-6 mb-0 d-flex align-items-center">
            <div class="text-align-left align-self-center">
              <h1 class="h1"><b>INFLUNEXUS</b></h1>
              <h3 class="h2">Video Editing Agency</h3>
              <p>
                Are you looking for a professional and creative video editing
                agency to bring your visual content to life? Look no further
                than INFLUNEXUS, your go-to partner for all your video editing
                needs.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="container">
        <div class="row p-5">
          <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
            <img class="img-fluid" src="https://assets-global.website-files.com/63543de02cf25034526150f3/648087b38a0b10180d023e6a_how%20to%20edit%20photos.png" alt="" />
          </div>
          <div class="col-lg-6 mb-0 d-flex align-items-center">
            <div class="text-align-left">
              <h1 class="h1"><b>VIDEO EDITING</b></h1>
              <h3 class="h2">Expertise and Experience</h3>
              <p>
                Our team of skilled video editors boasts years of experience in
                the industry. From corporate videos to social media content,
                from YouTube vlogs to promotional clips.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="container">
        <div class="row p-5">
          <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
            <img
              class="img-fluid"
              src="https://plugins-media.makeupar.com/smb/blog/post/2022-04-27/9839f784-3452-4e59-acc1-b929e3a4582f.jpg"
              alt=""
            />
          </div>
          <div class="col-lg-6 mb-0 d-flex align-items-center">
            <div class="text-align-left">
              <h1 class="h1"><b>REELS EDITING</b></h1>
              <h3 class="h2">Unleash the Power of Visual Storytelling</h3>
              <p>
                We understand the nuances of storytelling within a short format.
                Bring your ideas to life with easy-to-use text, AR filters, and audio tools with Reels.
                 Discover, share, and create multi-clip videos up to 30 seconds.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <a
    class="carousel-control-prev text-decoration-none w-auto ps-3"
    href="#template-mo-jassa-hero-carousel"
    role="button"
    data-bs-slide="prev"
  >
    <i class="fas fa-chevron-left"></i>
  </a>
  <a
    class="carousel-control-next text-decoration-none w-auto pe-3"
    href="#template-mo-jassa-hero-carousel"
    role="button"
    data-bs-slide="next"
  >
    <i class="fas fa-chevron-right"></i>
  </a>
</div>
<!-- End Banner Hero -->

<!-- Start Categories of The Month -->
<section class="container-fluid py-5" id="playback">
  <div class="row text-center pt-3">
    <div class="col-lg-6 m-auto">
      <h1 class="h1" ><strong>Highlight</strong></h1>
      <p>
        When it comes to choosing a social media agency, the decision can be a
        critical one. That's why I want to take a moment to highlight why
        INFLUNEXUS should be your top choice. INFLUNEXUS is not just an social
        media agency; it's a creative powerhouse. What sets us apart?
      </p>
    </div>
  </div>
  <app-video-player></app-video-player>

  
</section>
<!-- End Categories of The Month -->

<!-- Start Featured Product -->
<section >
  <div class="container py-5">
    <div class="row text-center py-3">
      <div class="col-lg-6 m-auto">
        <h1 class="h1"><strong>Why Choose <span style="color: rgb(228, 228, 37); font-weight:bold;  text-shadow: 1px 1px 1px #000, 3px 3px 5px rgb(1, 1, 23);">INFLUNEXUS </span> </strong></h1>
        <p>
          We stay at the forefront of technology and software to ensure your
          videos are not only visually appealing but also technically flawless.
          We use the latest video editing tools and techniques to enhance your
          content..
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-3 mb-3">
        <div class="card h-100">
          <a href="#">
            <img
              src="https://www.netsolutions.com/insights/wp-content/uploads/2021/11/consideration-for-video-editing-apps-for-your-business.jpg"
              class="card-img-top"
              alt="..."
            />
          </a>
          <div class="card-body">
            <ul class="list-unstyled d-flex justify-content-between">
              <li>
                <i class="text-warning fa fa-star"></i>
                <i class="text-warning fa fa-star"></i>
                <i class="text-warning fa fa-star"></i>
                <i class="text-warning fa fa-star"></i>
                <i class="text-warning fa fa-star"></i>
              </li>
              <!-- <li class="text-muted text-right">$240.00</li> -->
            </ul>
            <!-- <a href="#" class="h2 text-decoration-none text-dark"
              >Video Editing</a -->
              <h4>Video Editing</h4>
            
            <p class="card-text">
              From basic cuts to intricate post-production work, we've got your
              video editing needs covered.
            </p>
            <!-- <p class="text-muted">Reviews (24)</p> -->
          </div>
        </div>
      </div>
      <div class="col-12 col-md-3 mb-3">
        <div class="card h-100">
          <a href="#">
            <img
              src="https://static01.nyt.com/images/2021/07/20/arts/20burst-luca/20burst-luca-blog480.jpg"
              class="card-img-top"
              alt="..."
             
            />
          </a>
          <div class="card-body">
            <ul class="list-unstyled d-flex justify-content-between">
              <li>
                <i class="text-warning fa fa-star"></i>
                <i class="text-warning fa fa-star"></i>
                <i class="text-warning fa fa-star"></i>
                <i class="text-warning fa fa-star"></i>
                <i class="text-warning fa fa-star"></i>
              </li>
              <!-- <li class="text-muted text-right">$480.00</li> -->
            </ul>
            <!-- <a href="#" class="h2 text-decoration-none text-dark"
              >Audio Enhancement</a -->
            <h4>Animation Design</h4>
            <p class="card-text">
              Animation is a handy tool for advertising your business; it's a simple way of telling your audience who you are and what you do.
            </p>
            <!-- <p class="text-muted">Reviews (48)</p> -->
          </div>
        </div>
      </div>
      <div class="col-12 col-md-3 mb-3">
        <div class="card h-100">
          <a href="#">
            <img
              src="assets/graphics-3.jpg"
              class="card-img-top"
              alt="..."
             
            />
          </a>
          <div class="card-body">
            <ul class="list-unstyled d-flex justify-content-between">
              <li>
                <i class="text-warning fa fa-star"></i>
                <i class="text-warning fa fa-star"></i>
                <i class="text-warning fa fa-star"></i>
                <i class="text-warning fa fa-star"></i>
                <i class="text-warning fa fa-star"></i>
              </li>
              <!-- <li class="text-muted text-right">$360.00</li> -->
            </ul>
            <!-- <a href="#" class="h2 text-decoration-none text-dark"
              >Graphics Design</a -->
            <h4>Graphic Design</h4>
            <p class="card-text">
              Elevate your content with dynamic motion graphics and typography.
            </p>
            <!-- <p class="text-muted">Reviews (74)</p> -->
          </div>
        </div>
      </div>

      <div class="col-12 col-md-3 mb-3">
        <div class="card h-100">
          <a href="#">
            <img
              src="https://mir-s3-cdn-cf.behance.net/projects/404/080fd9152280873.Y3JvcCw0NzM2LDM3MDUsNTM5LDA.png"
              class="card-img-top"
              alt="..."
            />
          </a>
          <div class="card-body">
            <ul class="list-unstyled d-flex justify-content-between">
              <li>
                <i class="text-warning fa fa-star"></i>
                <i class="text-warning fa fa-star"></i>
                <i class="text-warning fa fa-star"></i>
                <i class="text-warning fa fa-star"></i>
                <i class="text-warning fa fa-star"></i>
              </li>
              <!-- <li class="text-muted text-right">$360.00</li> -->
            </ul>
            <!-- <a href="#" class="h2 text-decoration-none text-dark"
              >Carousel Design</a -->
            <h4>Carousel Design</h4>
            <p class="card-text">
              Elevate your content with dynamic motion graphics and typography.
            </p>
            <!-- <p class="text-muted">Reviews (74)</p> -->
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
<!-- End Featured Product -->
<app-footer></app-footer>
<div class="brand-img"></div>